    <!-- Review Modals-->
		<% Review.all.each_with_index do |review, index|%>
		    <div class="portfolio-modal modal fade" id=<%="portfolioModal#{index+1}"%> tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="<%= image_path('close-icon.svg') %>" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase"><%=review.title%></h2>
                                <p class="item-intro text-muted"><%=review.author%></p>
                                <h6><%=review.body%></h6>
                                <!--<button class="btn btn-primary btn-l text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Review
                                </button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
		<% end %>
    