
<div id="page-top">
    <!-- Navigation-->
    <%= render 'top_nav' %>
    <!-- Masthead-->
    <%= render 'header' %>
    <!-- Services-->
    <%= render 'services' %>
    <!-- Reviews Grid-->
    <%= render 'reviews' %>
    <!-- About-->
    <%= render 'about' %>
    <!-- Team-->
    <!--<%= render 'team' %>-->
    <!-- Clients-->
    <!--
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="<%= image_path('logos/microsoft.svg') %>" alt="..." aria-label="Microsoft Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="<%= image_path('logos/google.svg') %>" alt="..." aria-label="Google Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="<%= image_path('logos/facebook.svg') %>" alt="..." aria-label="Facebook Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="<%= image_path('logos/ibm.svg') %>" alt="..." aria-label="IBM Logo" /></a>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- Contact-->
    <%= render 'contact' %>
    <!-- Footer-->
    <%= render 'footer' %>
    <!-- Review Modals -->
    <%= render 'review_modals'%>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</div>